
.vs/Data-structures-project/v16/.suo
*.json
*.cache
*.cache
*.cache
*.cache
*.txt
*.cache
*.sqlite
*.cache
*.cache
*.txt
*.cache
*.txt
Concordance/obj/Debug/netcoreapp2.1/Concordance.assets.cache
Concordance/obj/Debug/netcoreapp2.1/Concordance.csproj.FileListAbsolute.txt
Concordance/obj/Debug/netcoreapp2.1/Concordance.assets.cache
Concordance/obj/Debug/netcoreapp2.1/Concordance.csproj.CoreCompileInputs.cache
Concordance/obj/Debug/netcoreapp2.1/Concordance.csproj.FileListAbsolute.txt
*.txt
*.cache
